.InListOfArticles {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  "Title DateOfPost"
  "VotesOfPost";
  padding: 10px;
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  margin: 5vw;
}

ul {
  padding: 0;
}

.singleArticle {
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  margin: 5vw;
  padding: 10px;
}

.comment {
  border-radius: 15px;
  border-style: solid;
  border-color: black;
  margin: 5vw;
  padding: 10px;
}
